In [24]:
import seaborn as sns

In [25]:
titanic_df = sns.load_dataset('titanic')

In [26]:
flights_df = sns.load_dataset('flights')

In [27]:
exercise_df = sns.load_dataset('exercise')

In [28]:
planets_df = sns.load_dataset('planets')

## data information

In [29]:
titanic_df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [30]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [31]:
titanic_df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [32]:
list(titanic_df.columns)

['survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'embarked',
 'class',
 'who',
 'adult_male',
 'deck',
 'embark_town',
 'alive',
 'alone']

## handling null values

### filtering

In [66]:
titanic_df_filter = titanic_df.copy()

In [72]:
titanic_df_filter.isna() #gives true for null values
titanic_df_filter.notna() #gives false for null values

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
5,True,True,True,False,True,True,True,True,True,True,True,False,True,True,True
6,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
8,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
10,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
13,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
14,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
15,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
16,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
17,True,True,True,False,True,True,True,True,True,True,True,False,True,True,True
18,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
19,True,True,True,False,True,True,True,True,True,True,True,False,True,True,True
20,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
21,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
23,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
25,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
26,True,True,True,False,True,True,True,True,True,True,True,False,True,True,True
27,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
28,True,True,True,False,True,True,True,True,True,True,True,False,True,True,True
29,True,True,True,False,True,True,True,True,True,True,True,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
862,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
863,True,True,True,False,True,True,True,True,True,True,True,False,True,True,True
864,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
865,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
866,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
867,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
868,True,True,True,False,True,True,True,True,True,True,True,False,True,True,True
869,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
870,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
871,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
872,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
873,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
874,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
875,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
876,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
877,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
878,True,True,True,False,True,True,True,True,True,True,True,False,True,True,True
879,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
880,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
881,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
882,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
883,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
884,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
885,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
886,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
887,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
888,True,True,True,False,True,True,True,True,True,True,True,False,True,True,True
889,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
890,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True

In [69]:
len(titanic_df_filter[titanic_df_filter['age'].notna()]) #gives df where only age is not null

714

### dropping

In [36]:
titanic_df_drop = titanic_df.copy()

In [37]:
titanic_df_drop.dropna(inplace=True) #drops all na's in entire df

In [38]:
len(titanic_df_drop)

182

### imputing

#### you can fill in with the mean, median or mode (if the data is categorical, then only the mode)

In [39]:
titanic_df_mean = titanic_df.copy()

In [40]:
titanic_df_mean['age'].mean()

29.69911764705882

In [41]:
titanic_df_mean.loc[titanic_df_mean['age'].isna(), 'age'] = titanic_df_mean['age'].mean()

In [42]:
titanic_df_mean.info() #no more null values for age

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            891 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [46]:
titanic_df_median = titanic_df.copy()

In [45]:
titanic_df_median['age'].median()

28.0

In [47]:
titanic_df_median.loc[titanic_df_median['age'].isna(), 'age'] = titanic_df_median['age'].median()

In [49]:
titanic_df_median.info() #no more null values for age

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            891 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [50]:
titanic_df_mode = titanic_df.copy()

In [51]:
titanic_df_mode['age'].mode()

0    24.0
dtype: float64

In [52]:
titanic_df_mode.loc[titanic_df_mode['age'].isna(), 'age'] = titanic_df_mode['age'].median()

In [53]:
titanic_df_mode.info() #no more null values for age

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            891 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

#### for next time, add a more sophisticated method, by running a LGR for categorical or  LR for continuous, or can run a random forest to predict the imputed value

## data distribution

## TO DO:

### Transformers: CountVectorizer (use instead of get dummies?)

### randomized search, like grid search but is random 

### TFIDF

### NLP

### StandardScaler and imputer

# SpaCy

In [2]:
import spacy
from spacy import displacy
print(spacy.__version__)

nlp = spacy.load('en')

2.0.11